.main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, hsl(0, 0%, 10%), 
                                    hsl(0, 0%, 19%));
    border-radius: 10px;
    padding: 10px;
    width: 50vw;
    height: auto;
}

.mainTitle {
    text-decoration: none;
}

.formInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 25vw;
}

.formButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.bookFormButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.formOption {
    background-color: hsl(0, 0%, 10%);
    color: whitesmoke;
    text-align: left;
}

.formSelect {
    background-image: linear-gradient(45deg, hsl(0, 0%, 10%), 
                                    hsl(0, 0%, 19%));
    width: 75%;
    outline-color: rgb(187, 143, 90);  
    outline-width: 0.1vw;
    outline-style: solid;
    border-radius: 8px;
    text-align: center;
}

.radioBtt {
    outline: none;
    accent-color: rgb(245, 178, 96);
}

.error {
    font-size: small;
    color: rgb(211, 59, 59);
}

.success {
    color: rgb(248, 183, 104);
}

@media screen and (max-width: 1404px) {
    .formInput {
        width: 35vw;
    }
}

@media screen and (max-width: 1000px) {
    .formInput {
        width: 40vw;
    }

    .main-box {  
        width: 60vw;
    }
}

@media screen and (max-width: 874px) {
    .formInput {
        width: 50vw;
    }

    .main-box {  
        width: 60vw;
    }
}

@media screen and (max-width: 700px) {
    .formInput {
        width: 60vw;
    }

    .main-box {  
        width: 70vw;
    }
}

@media screen and (max-width: 590px) {
    .formInput {
        width: 70vw;
    }

    .main-box {  
        width: 80vw;
    }
}

@media screen and (max-width: 498px) {
    .formInput {
        width: 80vw;
    }

    .main-box {  
        width: 90vw;
    }
}
